<span *ngFor="let post of allPost; let index = index">
  <ul>
    <hr>
    <li>{{ post.title }}</li>
    <li>{{ post.content }}</li>
    <button mat-raised-button class="link m-2" (click)="upAnswer(index)">Repondre au Message</button>
    <button mat-raised-button class="link" (click)="modifPost(index)">Effectuer une Modification</button>
    <button mat-raised-button class="link m-2" (click)="deletePost(index)">Supprimer le Post</button>
    <hr>
  </ul>
  <ul *ngFor="let answer of allPost[index].reponse; let indexAnswer = index">
    <li>{{ answer.content }}</li>
    <button mat-raised-button class="link m-2" (click)="modifAnswer(index, indexAnswer)">Effectuer une Modification</button>
    <button mat-raised-button class="link m-2" (click)="deleteAnswer(index, indexAnswer)">Supprimer la Reponse</button>
    <hr>
  </ul>
</span>
